# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Environment variables — JANGAN pernah di-commit
.env
.env.local
.env.*.local

# Vite
*.local

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/
.vercel
